.centro_postulaciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro_postulaciones .container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_acciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}