.centro_postulaciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 0 1rem;
}

.centro_postulaciones .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_jobs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_acciones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.titulo {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 600;
}

.actions {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.actions a {
    text-decoration: none;
    padding: .8rem;
    border-radius: 10px;
    font-size: 1rem;
}

.actions .btn_add_job {
    background-color: var(--brand-clr-1);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    transition: .2s all ease-in-out;
}

.actions .sort_by,
.actions .filters {
    background-color: var(--complementary-clr);
    color: var(--brand-clr-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    transition: .2s all ease-in-out;
}

.actions .btn_add_job:hover {
    background-color: #0734ba;
    cursor: pointer;
}

.actions .sort_by:hover,
.actions .filters:hover {
    background-color: #c3c3c3;
    cursor: pointer;
}