:root {
    --complementary-clr: #F2F2F2;
    --brand-clr-1: #0040FF;
    --brand-clr-2: #5E17EB;
    --brand-clr-1-hover: #0734ba;
    --btn-delete: #D41515;
    --btn-delete-hover: #940e0e;

    --estado-contactado: #15C420;
    --estado-no-contactado: #c40f0f;
    --estado-en-proceso: #c46d15;
    --estado-entrevista-concretada: #1515c4;
}

/* estilos de iconos de FontAwesome */
.close_session_icon {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
}

.add_job_icon {
    color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}