.open_link_platform_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close_link_platform_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.close_modal_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
}

.close_modal_btn .close_icon {
    color: var(--brand-clr-2);
    font-size: 2.2rem;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_title .title {
    font-size: 2rem;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

.link_platform_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.fieldset {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    border: none;
    width: 100%;
}

.label {
    font-size: .813rem;
    font-family: 'Poppins', 'Montserrar', sans-serif;
    font-weight: 400;
}

.link_form_input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--brand-clr-1);
    border-radius: 10px;
    background-color: #e6e6e6;
}

.link_platform_button {
    border: none;
    background-color: var(--brand-clr-1);
    color: #ffffff;
    border-radius: 10px;
    transition: .2s all ease-in-out;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.link_platform_button:hover {
    background-color: #083bd4;
    cursor: pointer;
}